.page {
	// .page__main-about
	&__main-about {
		margin: 0px 0px 80px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .page__about-description
	&__about-description {
		margin: 0px 0px 40px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}
}

//========================================================================================================================================================

.main-about {
	// .main-about__container
	&__container {
	}
	// .main-about__h1
	&__h1 {
	}
	// .main-about__body
	&__body {
		display: flex;
		@media (max-width: $tablet) {
			display: block;
		}
		@media (max-width: 600px) {
			display: flex;
			flex-direction: column;
		}
	}
	// .main-about__image
	&__image {
		flex: 0 1 50%;
		margin: 0px 40px 0px 0px;
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
		@media (max-width: $tablet) {
			margin: 0px 10px 0px 0px;
			img {
				float: left;
				display: block;
				width: 50%;
				margin: 0px 20px 10px 0px;
			}
		}
		@media (max-width: 600px) {
			flex: 1 1 auto;
			margin: 0px 0px 20px 0px;
			img {
				width: 100%;
				float: none;
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .main-about__content
	&__content {
		flex: 0 1 50%;
		margin: 0px 0px 0px 40px;
		@media (max-width: $tablet) {
			margin: 0px 0px 0px 10px;
		}
		@media (max-width: 600px) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
		}
	}
	// .main-about__title
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: math.div(34, 24);
		margin: 0px 0px 20px 0px;
	}
	// .main-about__subtitle
	&__subtitle {
		p {
			font-weight: 400;
			font-size: 14px;
			line-height: math.div(20, 14);
			margin: 0px 0px 13px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}

//========================================================================================================================================================

.about-description {
	// .about-description__container
	&__container {
	}
	// .about-description__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: -10px;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			margin: -10px 0px;
		}
	}
	// .about-description__column
	&__column {
		flex: 0 1 25%;
		padding: 10px;
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 auto;
			padding: 10px 0px;
		}
	}
	// .about-description__item
	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .about-description__image
	&__image {
		width: 64px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 0px 27px 0px;
		img {
			height: 50px;
			width: auto;
			object-fit: cover;
		}
		@media (max-width: $mobileSmall) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .about-description__content
	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .about-description__title
	&__title {
		font-weight: 500;
		font-size: 14px;
		line-height: math.div(20, 14);
		margin: 0px 0px 10px 0px;
		flex: 1 1 auto;
	}
	// .about-description__subtitle
	&__subtitle {
		font-weight: 400;
		font-size: 14px;
		line-height: math.div(20, 14);
		color: $color_grey;
	}
}
